/* Webfont: AOTLostContact-Regular */@font-face {
    font-family: 'AOTLostContact';
    src: url('AOT Lost Contact.eot'); /* IE9 Compat Modes */
    src: url('AOT Lost Contact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AOT Lost Contact.woff') format('woff'), /* Modern Browsers */
         url('AOT Lost Contact.woff2') format('woff2'), /* Modern Browsers */
         url('AOT Lost Contact.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

